.search-preview{
    width: 300px;
    text-align: center;
    border: 1px solid ;
    border-color: inherit;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
}
.search-preview:hover{
    cursor: pointer;
    background-color: #2c967891
}