main{
    min-height: 70vh;
 
}
.main-home{
    width: 100%;
    margin: 0 auto;
}
.search-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    .btn{
        min-width: 50px;
        font-size:0.9rem;
    }
    @media screen and (max-width:850px){
        flex-direction: column;
        .btn:first-child{
            margin-bottom: 18px;
        }
        .input-field{
            margin-bottom: 10px;
        }

    }
}
.default-city{
    margin-inline-end: 5px;
}
.default-city > p{
    margin-inline-end: 5px;
}
