.favorites-main {
    padding: 0;
    .favorite-btn {
        display: none;
    }
    @media screen and (max-width: 750px) {
        .favorites-header {
            h3 {
                font-size: 1.3rem;
            }
            .btn {
                font-size: 0.7rem;
            }
        }
    }

    .favorite-list {
        width: 100%;
        gap: 0.8rem;
        flex-wrap: wrap;
        .card {
            width: 180px;
            min-height: 250px;
            border-radius: 15px;
            img {
                width: 110px;
            }
        }
        @media screen and (max-width: 750px) {
            flex-direction: column;
            .city-tamplate {
                width: 100%;
            }
        }
    }
}
